.custom-card {
    width: 150px; /* Define a fixed width for the cards */
    margin: 10px; /* Add some margin to separate the cards slightly */
    display: inline-block; /* Ensure the cards are inline */
    vertical-align: top; /* Align the cards to the top */
}

.custom-card img {
    width: 100%; /* Make sure the image takes the full width of the card */
    height: auto; /* Keep the aspect ratio of the image */
}

.container-intervention {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Début section carré avec coins colorés */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-group {
    display: flex;
    gap: 20px;
}

.card {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.img-container {
    position: relative;
}

.img-card {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.square {
    display: flex;
    width: 93px;
    height: 93px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.44px;
    border-radius: 5.952px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 1.329px 13.286px 0px rgba(25, 86, 168, 0.25);
    backdrop-filter: blur(4.151785373687744px);
    position: absolute;
    z-index: 1; /* z-index inférieur */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* height: auto; */
}

.triangle, .square {
    position: absolute;
    transform-origin: center; /* Centrer le point de transformation */
}

.triangle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px; /* Taille initiale du triangle */
    height: auto; /* Maintenir les proportions */
    z-index: 2; /* z-index supérieur */
}


.corner {
    position: absolute;
}

.top-left {
    top: -11.5px;
    left: -11.5px;
}

.top-right {
    top: -11.5px;
    right: -11.5px;
}

.bottom-left {
    bottom: -11.5px;
    left: -11.5px;
}

.bottom-right {
    bottom: -11.5px;
    right: -11.5px;
}

/* Fin section carré avec coins colorés */