.operations-testimony {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Début section carré avec coins colorés */
.container-testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-group {
    display: flex;
    gap: 20px;
}

.card {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.img-container {
    position: relative;
}

.img-card {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.square {
    display: flex;
    width: 93px;
    height: 93px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.44px;
    border-radius: 5.952px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 1.329px 13.286px 0px rgba(25, 86, 168, 0.25);
    backdrop-filter: blur(4.151785373687744px);
    position: absolute;
    z-index: 1; /* z-index inférieur */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* height: auto; */
}

/* .container:hover .square { */
.card:hover .square {
    transform-origin: center; /* Centrer le point de transformation */
    transform: translate(-50%, -50%) scale(0.5); /* Réduire la taille du carré au survol */
    transition: transform 0.3s ease 0.08s; /* Transition pour le carré */
}

.card:hover .triangle { 
    transform: translate(-50%, -50%) scale(0.5); /* Réduire la taille du carré au survol */
    transition: transform 0.3s ease; /* Transition pour le triangle */
}

.triangle, .square {
    position: absolute;
    transform-origin: center; /* Centrer le point de transformation */
}

.triangle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px; /* Taille initiale du triangle */
    height: auto; /* Maintenir les proportions */
    z-index: 2; /* z-index supérieur */
}