.reviews__list {
    display: flex;
    cursor: grab;
    overflow-x: scroll;
    scrollbar-width: none;
    @media screen and (max-width: 768px) {
        display: block;
    }
}

.reviews__card {
    margin: 0 5px;
    border-radius: 10px;
    background-color: #1956a8;
    padding: 25px 30px;
    width: 300px;
    color: #ffffff;
    font-family: Raleway;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0 0 20px 0;
    }
}

.grabbing {
    cursor: grabbing;
}

.digit-14 {
    font-size: 14px;
    font-family: Rubik;
}

.username {
    font-weight: 600;
    font-family: Rubik;
}
