*{
	margin: 0;
	padding: 0;
}

.unstyled{
	list-style: none;
	padding: 0;
}

.list_item{
	margin: 5px 0;
}

section{
	margin: 80px 0;
}

.btn-primary{
	padding: 15px;
	background-color: #171C60;
	color: white;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
}

.h1-45{
	font-family: Rubik;
	font-weight: 800;
	font-size: 45px;
	text-transform: uppercase;
	color: #171C60;
	line-height: 56px;
}

.h2-24{
	font-family: Rubik;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	color: #171C60;
}

.h3-16{
	font-family: Rubik;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	color: #171C60;
}

.margin-h1{
	margin: 0 0 25px 0;
}

.b1-xbold{
	font-family: Raleway;
	font-size: 16px;
	font-weight: 800;
	color: #171C60;
}

.b2-medium{
	font-family: Raleway;
	font-size: 16px;
	font-weight: 500;
	color: #171C60;
	line-height: 24px;
}

.b3-14{
	font-family: Raleway;
	font-size: 14px;
	font-weight: 500;
	color: #171C60;
	line-height: 24px;
}

.digit-14{
	font-family: Rubik;
	font-size: 14px;
}

body{
	background-color: rgb(232,239,251);
	background: linear-gradient(180deg, rgba(232,239,251,1) 0%, rgba(255,255,255,1) 51%);
	background-repeat: no-repeat;
}

.burger{
	display: none;
}

.d-flex{
	display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.justify-center{
	justify-content: center;
}

.justify-around{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
	align-items: center;
}

.align-start{
	align-items: flex-start;
}

.header_items{
	display: flex;
	justify-content: space-between;
}

.items{
	margin: 0 45px;
}

.header_item{
    display: flex;
    align-items: center;
	justify-content: center;
    color: #171C60;
    text-decoration: none;
    padding: 0 20px;
    margin: 0 4px;
    font-size: 16px;
	font-weight: 600;
    height: 100%;
	width: 215px;
    transition: ease-in-out 0.5s;
}

.btn_primary{
    padding: 10px;
    margin: 15px 0;
    background-color: #171C60;
    color: white;
    border: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.btn_primary:hover{
    background-color: #454980;
}

.active, .header_item:hover{
    color: #1956A8;
    position: relative;
	font-size: 18px;
	letter-spacing: 0.05rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    padding-bottom: 10px;
    border-radius: 8px;
}

.container{
	max-width: 1400px;
	margin: auto;
}


.title_justify_right{
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	text-align: right;
}

.list_item img{
	margin-right: 5px;
}

.orange_title{
	color: #FF8833;
	background-color: #FFFFFF;
	padding: 5px 30px 5px 15px;
	border-radius: 5px 50px 50px 5px;
	font-family: Rubik;
	font-weight:800;
	box-shadow: 1px 0px 18px -1px rgba(0,0,0,0.33);
	-webkit-box-shadow: 1px 0px 18px -1px rgba(0,0,0,0.33);
	-moz-box-shadow: 1px 0px 18px -1px rgba(0,0,0,0.33);
    margin-left: 15px;
}

.orange_title_reversed{
	color: #FF8833;
	background-color: #FFFFFF;
	padding: 5px 15px 5px 30px;
	border-radius: 50px 0 0 50px;
	font-family: Rubik;
	font-weight:800;
	box-shadow: 1px 0px 18px -1px rgba(0,0,0,0.33);
	-webkit-box-shadow: 1px 0px 18px -1px rgba(0,0,0,0.33);
	-moz-box-shadow: 1px 0px 18px -1px rgba(0,0,0,0.33);
}



/***************************
********** Blocs ***********
****************************/


.bloc_content{
	width: 640px;
    margin-right: 25px;
}

.img_bloc{
	min-width: 585px;
}

.bloc_text{
	margin-bottom: 20px;
}

.bloc, .bloc-reverse{
	display: flex;
}


/***************************
******* MEDIA QUERIES ******
****************************/

@media screen and (max-width:1140px) {
	.header_item{
		width: 150px;
		display: flex;
		justify-content: center;
	}


	.avantage_card{
		width: 315px;
	}

	.orange_title_reversed{
		color: #FF8833;
		background-color: #FFFFFF;
		padding: 5px 15px 5px 8px;
		border-radius: 0 50px 50px 0;
		font-family: Rubik;
		font-weight:800;
		
	}

	.avantage_title{
		justify-content: center;
		text-align: center;
		align-items: center;
	}

	.title_justify_right{
		display: flex;
		text-align: left;
		align-items: flex-start;
	}

	.avantages_item{
		margin-top: 30px;
	}


	.h1-45{
		margin: 15px 10px;
	}

	.orange_title{
		padding: 5px 15px 5px 8px;
	}

	.bloc{
		flex-direction: column;
	}

	.bloc-reverse{
		flex-direction: column-reverse;
	}

	.bloc_text_btn{
		margin: 0 0 0 10px;
	}
}

@media screen and (max-width:1020px) {
	.header_item{
		width: 120px;
	}

	.avantage_card{
		width: 270px;
	}

}

@media screen and (max-width:980px) {
	.header_items{
		display: none;
	}
	.burger{
		display: block;
		position: absolute;
		top: 15px;
		right: 30px;
	}
}

@media screen and (max-width:848px) {
	.avantages{
		flex-direction: column;
		align-items: center;
	}

	.avantage_card{
		width: 352px;
	}
}

@media screen and (max-width:645px) {
	.h1-45{
		font-size: 32px;
		line-height: 35px;
	}

	.orange_title{
		line-height: 55px;
	}

	.margin-h1{
		margin: 0 0 5px 0;	
	}
}

@media screen and (max-width:639px) {

	.bloc_content{
		width: 550px;
	}

	.img_bloc{
		min-width: 310px;
	}
}

@media screen and (max-width:559px) {

	.bloc_content{
		width: 450px;
	}
}

@media screen and (max-width:460px) {

	.bloc_content{
		width: 320px;
	}
}


@media screen and (max-width:424px) {
	.avantage_card{
		width: 315px;
	}
}

@media screen and (max-width:350px) {
	.avantage_card{
		width: 270px;
	}

}
