
.price__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: end;
    gap: 1rem;
    @media screen and (max-width: 768px) {

        margin-bottom: 7rem;
    }
}

.price__table {
    position: relative;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    border-radius: 16px;
    background: #ffffff;
    @media screen and (max-width: 768px) {
        margin-bottom: 6rem;
    }
}

.price__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    .type {
        margin-bottom: 0;
        color: var(--Text-Text-primary, #171c60);
        font-style: normal;
        font-weight: 700;
        font-size: var(--Font-Size-S, 1rem);
        line-height: normal;
        /* H3-Rubik-Bold */
        font-family: var(--Font-Family-Headline, Rubik);
        text-transform: uppercase;
    }
    .popular {
        display: block;
        margin: 0 auto;
        box-shadow: 0px 8px 8px 0px #e8effb;
        border-radius: 0.25rem;
        background: var(--Neutral-White-FFFFFF, #fff);
        padding: 0.5rem 1rem;
        width: fit-content;
        span {
            color: var(--Text-Text-accent, #ff7551);
            font-style: normal;
            font-weight: 700;
            font-size: var(--Font-Size-S, 1rem);
            line-height: normal;

            /* H3-Rubik-Bold */
            font-family: var(--Font-Family-Headline, Rubik);
            text-transform: uppercase;
        }
    }

    .price {
        color: var(--Text-Text-primary, #171c60);
        font-style: normal;
        font-weight: 800;
        font-size: var(--Font-Size-XL, 2.8125rem);
        line-height: normal;

        /* H1-Rubik_Extrabold */
        font-family: var(--Font-Family-Headline, Rubik);
        text-transform: uppercase;
    }
    .infos {
        border-radius: var(--Radius-Button-6, 0.375rem);
        background: var(--Background-E8EFFB, #e8effb);
        padding: 0.3125rem var(--Spacing-0, 0rem);
        color: var(--Text-Text-primary, #171c60);
        font-style: normal;
        font-weight: 500;
        font-size: var(--Font-Size-XS, 0.875rem);
        line-height: var(--Font-Size-L, 1.5rem); /* 171.429% */

        /* B3-Raleway-Medium */
        font-family: var(--Font-Family-Body, Raleway);
        text-align: center;
        p {
            margin-bottom: 0;
        }
    }
}

.price__body {
    padding: 1.69506rem 1.88338rem;
}

.price__footer {
    position: absolute;
    bottom: -5.5rem;
    z-index: -1;
    border-radius: 16px;
    background: linear-gradient(278.49deg, #1956a8 0%, #171c60 88.22%);
    padding: 3rem 1rem 1rem;
    width: 100%;
    text-align: center;
    a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto;
        border-radius: 7px;
        background: #ffffff;
        padding: 15px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        font-family: "Raleway";
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: uppercase;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: 0.2s ease;
        transition: 0.2s ease;
    }
}
