/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       idProtect_1.0.0.0
 *
 */
.modal-dialog {
    width: 90vw;
    max-width: inherit;
    height: 90vh;
}

#tallyModal {
    .modal-content {
        overflow: hidden;
        background-color: $blue-80;

        .close {
            position: absolute;
            right: 1rem;
            top: 1rem;
            z-index: 9999;
            height: inherit;
            width: initial;
        }
    }

    .modal-body {
        padding: 0;
        overflow: hidden;

        .form {
            padding: 1rem;
            background-color: $blue-70;
            max-height: 90vh;
            overflow-y: scroll;
        }

        .illu {
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            position: relative;

            .img {
                max-width: 50%;
            }

            .logo {
                position: absolute;
                right: 2rem;
                bottom: 2rem;
            }
        }
    }
}
