.testimonial {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	margin-bottom: 50px;
}

.testimonial__title {
	text-transform: uppercase;
	text-align: right;
	margin-bottom: 2rem;
}

.testimonial__title .title {
	border-radius: 100px 16px 16px 100px;
}

.testimonial__list {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	flex-wrap: wrap;
}

.testimonial__post {
	width: auto;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	&:hover {
		color: #0C0E30;
	}
}

.testimonial__post p {
	font-family: Rubik;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 700;
	line-height: 2.125rem;
	margin-top: -25px;
}

.temoignage__text {
	max-width: 18rem;
}

.testimonial__post__title {
	text-transform: uppercase;
}

.testimonial__post h3 {

	font-family: Rubik;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.875rem;
	color: var(--Error-40, #FF5326);
	transform: translate(-25px, -50%);

}


.temoignage__image {
	width: 18rem;
}


@media only screen and (max-width: 768px) {
	.testimonial__post {
		width: 100%;
		flex: inherit;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.testimonial__list {
		justify-content: center;
	}

	.testimonial__post:before {
		left: inherit;
		right: 3%;
		top: calc(30% - 5.6rem);
	}

	.testimonial__post:first-child:before {

		left: 3%;
		top: calc(50% - 5.6rem);
	}

	.testimonial__post:last-child:before {
		left: inherit;
		right: 3%;
		top: calc(70% - 5.6rem);
	}
}
