.testimonial {
	.list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
	gap: 1.5rem;
	}
}

.testimonial__img {
	position: relative;
	margin-bottom: .5rem;

		&:after {
position: absolute;
top: 50%;
left: 50%;
content: "";
background-image: url(./img/testimony_play.png);
background-repeat: no-repeat;
background-position: center;
        background-size: 70px;
        width: 57px;
        height: 57px;
transform: translate(-50%, -50%);
border-radius: 10px;

	}
	&:before {
		position: absolute;
		top: 50%;
left: 50%;
		content: "";
transform: translate(-50%, -50%);
backdrop-filter: blur(4.151785373687744px);
        width: 52px;
        height: 54px;
	}
	img {
		width: 100%;

	}
}
.testimonial__item {
	position: relative;
	width: 338px;

}
.content {
	padding: 0 1rem;
}
	.content__title {
color: var(--Text-Text-accent, #FF7551);
font-family: var(--Font-Family-Headline, Rubik);
font-size: var(--Font-Size-L, 1.5rem);
font-style: normal;
font-weight: 700;
line-height: normal;
	}
	.content__desc {
		color: var(--Text-Text-primary, #171C60);
font-family: var(--Font-Family-Headline, Rubik);
font-size: var(--Font-Size-L, 1.5rem);
font-style: normal;
font-weight: 700;
line-height: normal;
	}



