
.accordion-faq {
    cursor: pointer;
    padding-right: 100px;
    width: 100%; /* Make the accordion buttons take up the full width */
    text-align: left;
    border:none;
    background-color: white;
    outline: none;
    transition: 0.4s;
    display: block; /* Ensure each button is on a new line */
    position: relative; /* Allow positioning of the "+" symbol */

    &::after {
        content: "+"; /* Add the "+" symbol */
        color: var(--primary-color);
        font-size: 40px;
        position: absolute;
        right: 0px; /* Adjust the position */
        top: 50%;
        transform: translateY(-50%) rotate(0deg); /* Initial rotation */
        transition: transform 0.5s; /* Smooth transition over 1 second */
    }

    &.active .faq-question {
        font-weight: bold;
    }

    &.active::after {
        content: "+"; /* Change to "+" symbol when active avec rotation de 45° plus bas */
        color: var(--secondary-color);
        transform: translateY(-50%) rotate(45deg);
      }
    
    .faq-question {
        padding-top: 2rem;
        padding-bottom: 2rem;

        &:hover {
                font-family: Raleway;
                font-size: 16px;
                font-weight: 800;
        }
    }

  }

  
  .panel-faq {
    padding: 0px;
    display: none; /* Initially hide the panel */
    background-color: white;
    overflow: hidden;
    width: 100%; /* Make the panel take up the full width */
    box-sizing: border-box; /* Include padding in the element's total width and height */
  }

.faq-section {
margin: 100px;
}

.operations-section {
    margin: 100px;
    }

.operations-testimony {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-item {
    border-bottom: 1px solid #ccc;
}

.faq-answer {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap; 
}

.title-faq {
    text-transform: uppercase;
    margin-bottom: 10px
    color: var(--primary-color);

}

.text-primary {
    color: var(--primary-color);
}

.text-semi-bold {
    /* B1-Raleway-Semi-Bold */
    font-family: Raleway;
    font-size: 20px;
    font-weight: 600;
}

.card__title-faq-orange {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 14px 100px 100px 14px;
    background-color: white;
    color: var(--secondary-color);
    padding-inline-end: 2rem;
    padding-inline-start: 1rem;
    margin-left: 0.5rem;
    box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    /* H1-Rubik_Extrabold */
    font-family: var(--Font-Family-Headline, Rubik);
    font-size: var(--Font-Size-XL, 45px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.h1-45{
    font-family: Rubik;
    font-weight: 800;
    font-size: 45px;
    text-transform: uppercase;
    color: #171C60;
    line-height: 56px;
    background-color: white;
}

.horizontalisation-faq {
    display:flex;
    /* flex-direction:row; */
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.container-faq {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de se déplacer sur une nouvelle ligne si nécessaire */
  }
  
.h1-45-faq{
    font-family: Rubik;
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 56px;
}

.b2-medium-faq{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.b1-xbold-faq{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 800;
}

@media screen and (max-width:645px) {
    .h1-45-faq{
        font-size: 32px;
    }

    .card__title-faq-orange {
        padding-inline-start: 0rem;
        margin-left: 0rem;
    }

}