.hero__area {
    position: relative;
    z-index: 5;

    &:after {
        display: block;
        position: absolute;
        top: -50px;
        left: 50%;
        opacity: 0.65;
        /* background-image: url(./backgroundHero.png);
        background-repeat: no-repeat; */
        z-index: -1;
        width: 100%;
        height: 100%;
        content: "";
    }

    .title {
        color: #ff7551;
        @media only screen and (max-width: 991px) {
            justify-content: start;
            border-radius: 100px;
            padding: 10px 20px;
        }
    }
    .top {
        margin-bottom: 15px;
    }
}

.hero__box {
    margin: 30px 0;
    padding: 0;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.625;
    font-family: "Raleway", sans-serif;
    list-style: none;
    @media only screen and (max-width: 991px) {
        margin-left: 0;
    }

    @media only screen and (max-width: 767px) {
        padding: 0 1.5rem 1.5rem;
        text-align: left;
    }

    @media only screen and (max-width: 450px) {
        margin: 0;
    }

    p {
        margin-bottom: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li::before {
            margin-right: 8px;
            content: "\f061";
            font-weight: 900;
            font-family: "Font Awesome 6 Free";
        }
    }
}

.hero__box__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    margin-top: 20px;
    @media screen and (max-width: 991px) {
        justify-content: center;
    }
}

.hero__image {
    margin: 0 auto;
}
