.block__listCards__title {
    width: 38%;
    margin-left: auto;
    h2 {
        text-transform: uppercase;
        text-align: right;
		margin-bottom: 1.5rem;
    }
}

.block__listCards__title .title {
    border-radius: 100px 16px 16px 100px;
}

.card__item {
    display: flex;
    padding: 1.875rem 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    border-radius: 1rem;
    background: var(--Gradient-BG, linear-gradient(180deg, #ecf1fa -5.47%, #fff 100%));
    box-shadow: 0px 8px 24px 0px rgba(25, 86, 168, 0.05);
}

.card__item__title {
    margin-bottom: 1.5rem !important;
}

h5.card__content__title {
    font-size: 1rem !important;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem !important;
}

.card__content img {
    margin-bottom: 0.5rem;
    width: 25px;
}

@media screen and (max-width: 768px) {
    .card__item {
        margin-bottom: 1.5rem;
    }
}
