/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       idProtect_1.0.0.0
 *
 */

/* Responsive */
@mixin breakpoint($device) {
    @if $device == desktop {
        @media screen and (min-width: 1200px) {
            @content;
        }
    }
    @else if $device == laptop {
        @media screen and (min-width: 992px) {
            @content;
        }
    }
    @else if $device == tablet {
        @media screen and (min-width: 768px) {
            @content;
        }
    }
    @else if $device == phablet {
        @media screen and (min-width: 451px) {
            @content;
        }
    }
    @else if $device == mobile {
        @media screen and (max-width: 450px) {
            @content;
        }
    }
}

/* HEADINGS
/––––––––––––––––––––––––*/
// Create a step size
// Mixin pour gérer les tailles de texte responsives
@mixin responsive-font-size($size, $line-height: null, $weight: null) {
    font-size: $size / 16 * 1rem; // Convertit les pixels en rem
    @if $line-height != null {
        line-height: $line-height / $size;
    }

    @if $weight != null {
        font-weight: $weight;
    }

    // Media Queries pour les écrans plus petits
    @media (max-width: 768px) {
        font-size: $size / 16 * 0.875 * 1rem; // Réduit la taille de police pour les écrans plus petits
        @if $line-height != null {
            line-height: $line-height / $size * 1.2; // Ajuste la hauteur de ligne pour les écrans plus petits
        }
    }

    // Media Queries pour les écrans encore plus petits
    @media (max-width: 480px) {
        max-width: 100%;
        font-size: $size / 16 * 0.65 * 1rem; // Réduit la taille de police pour les écrans encore plus petits
        @if $line-height != null {
            line-height: $line-height / $size * 1.4; // Ajuste la hauteur de ligne pour les écrans encore plus petits
        }
    }
}

// Transitions
@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin transition($transition) {
    -webkit-transition: #{$transition};
    -moz-transition: #{$transition};
    -o-transition: #{$transition};
    transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
    -webkit-transition-delay: #{$transition-delay};
    -moz-transition-delay: #{$transition-delay};
    -o-transition-delay: #{$transition-delay};
    transition-delay: #{$transition-delay};
}
