@use "mixins";

/**
 * Variables
 * Contains re-usable variables like colors, sizes, breakpoints etc.
 * Normally, you don't have to change anything in essentials.css and general.css
 * because you'll define the basic-values here.
 *
 * @author     ThatMuch
 * @version    0.1.0
 * @since      idProtect_1.0.0
 *
 */

@use "sass:color";

/*==================================================================================
  SCALING
==================================================================================*/

$base_size: 1.5vw; // scales all `rem` based elements by adding this value as html font-size

$header_height: 4rem; // define the height of the header
$element_width: 90vw; // default width of the inner elements --> nav, article, div.element, footer
$element_maxwidth: 1200px; // max-width of the inner elements (should be <= $scaling_endpoint)

$element_width_mobile: 95vw; // default width of the .element content-div

/*==================================================================================
  COLORS
==================================================================================*/

/* Presets
/––––––––––––––––––––––––*/
$color-primary: #171c60;
$color-primary-darker: color.adjust($color-primary, $lightness: -7%);
$color-primary-lighter: color.adjust($color-primary, $lightness: 7%);
$color-secondary: #ff7551;
$color-secondary-darker: color.adjust($color-secondary, $lightness: -7%);
$color-tertiary: #1956a8;
$color-tertiary-darker: color.adjust($color-tertiary, $lightness: -7%);
$color-black: #212529;
$color-dark: #343a40;
$color-grey2: #495057;
$color-grey1: #868e96;
$color-grey: #f2f2f2;
$color-light: #f7f7f7;

/*=============================================
  FONTS
=============================================*/

/* set base values */
$text-fz: 1em;
$text-scale-ratio: 1.2;
$text-ff: "Raleway", sans-serif;
$text-c: $color-dark;
$text-fw: 400;
$text-lh: 1.5;

/* type scale */
$text-xs: calc(1em / (#{$text-scale-ratio} * #{$text-scale-ratio}));
$text-sm: calc(1em / #{$text-scale-ratio});
$text-md: calc(1em * #{$text-scale-ratio});
$text-lg: calc(1em * #{$text-scale-ratio} * #{$text-scale-ratio});
$text-xl: calc(1em * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio});
$text-xxl: calc(1em * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio});
$text-xxxl: calc(1em * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio});

@include mixins.breakpoint(mobile) {
    $text-scale-ratio: 1.25;
}

/*=====  End of FONTS                  ======*/

/*=============================================
=            Space                            =
=============================================*/

$space-xxxs: 0.25em;
$space-xxs: 0.375em;
$space-xs: 0.5em;
$space-sm: 0.75em;
$space-md: 1.25em;
$space-lg: 2em;
$space-xl: 3.25em;
$space-xxl: 5.25em;
$space-xxxl: 8.5em;

/*=====  End of Space                  ======*/

/*==================================================================================
  DEFAULTS
==================================================================================*/
// these basic defaults are applied to the 'html', 'body', 'nav' or 'a' tags

/* HTML
/––––––––––––––––––––––––*/
$html__bgcolor: $color-light;

/* NAV
/––––––––––––––––––––––––*/
$nav__linkcolor: $color-dark;
$nav__hovercolor: $color-primary;
$nav__activecolor: $color-primary;
$nav__spacercolor: $color-dark;

/* ANCHORS
/––––––––––––––––––––––––*/
$a__linkcolor: $color-primary;
$a__hovercolor: color.adjust($color-primary, $lightness: -20%);
$a__textdecoration: none;

/*==================================================================================
  TRANSITIONS
==================================================================================*/

$transition_fast: 0.3s;
$transition_slow: 0.7s;

/*==================================================================================
  SHADOWS
==================================================================================*/

$shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
$shadow__soft:
    0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 1px 5px 0 rgba(0, 0, 0, 0.06);



/* V4 */

/* Primitives */
$blue-20: #0F3465FF;
$blue-30: #144586FF;
$blue-40: #1956A8FF;
$blue-50: #5E89C2FF;
$blue-60: #9FC1EFFF;
$blue-70: #E8EFFBFF;
$blue-80: #F5F9FFFF;
$dark-blue-20: #0C0E30FF;
$dark-blue-30: #12164DFF;
$dark-blue-40: #171C60FF;
$dark-blue-50: #454980FF;
$dark-blue-60: #8B8EB0FF;
$dark-blue-70: #E8E8EFFF;
$dark-blue-80: #FAFAFEFF;
$orange-40: #FF8833FF;
$orange-60: #FFC499FF;
$orange-70: #FFF3EBFF;
$neutral-100: #FFFFFFFF;
$red-40: #FF5326FF;
$red-50: #FF7551FF;
$red-60: #FFA993FF;
$red-70: #FFEEE9FF;
$green-40: #17EB79FF;
$green-60: #8BF5BCFF;
$green-70: #E8FDF2FF;

/* Tokens - Default */
$text-heading-dark: $dark-blue-40;
$text-primary: $dark-blue-40;
$text-accent: $red-50;
$text-success: $green-40;
$text-error: $red-40;
$text-inactive: $blue-50;
$text-disabled: $blue-60;
$text-invert: $neutral-100;
$text-body-light: #FFFFFFD1;
$text-heading-light: #FFFFFFFF;
$text-subheading: $blue-40;
$text-body-dark: $dark-blue-50;

/* Surface */

$surface-primary: $blue-40;
$surface-primary-darker: $blue-30;
$surface-accent: $red-50;
$surface-success: $green-40;
$surface-error: $red-40;
$surface-inactive: $blue-50;
$surface-disabled: $blue-60;

/* Background */


$background-default: $blue-80;
$background-light: $neutral-100;
$background-dim: $blue-70;
$background-disabled: $blue-70;
$background-success: $green-70;
$background-error: $red-70;
$background-warning: $orange-70;

/* Spacing & Radius */
$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 32px;
$spacing-xl: 40px;
$spacing-2xl: 48px;
$spacing-3xl: 56px;
$spacing-4xl: 64px;
$radius-s: 4px;
$radius-m: 8px;
$radius-l: 100px;


/* Fonts */

/* Font - Mode 1 */
$font-family-headline: Rubik, 'Roboto', sans-serif;
$font-family-body: Raleway, 'Open Sans', sans-serif;
$font-family-digits: Rubik, 'Roboto', sans-serif;
$font-family-label: Raleway, 'Open Sans', sans-serif;
$font-weight-extrabold: 800;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-size-2xl: 60px;
$font-size-xl: 45px;
$font-size-l: 24px;
$font-size-m: 16px;
$font-size-s: 14px;


