/*
 * Main CSS File
 * Merges all .scss files (in the desired order) before they're processed by gulp.
 * To add vendors, use gulp-vendors.json.
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       idProtect_1.0.0.0
 *
 */

@charset "UTF-8";

/*==================================================================================
  PRESETS/
==================================================================================*/
@import "mixins";
@import "fonts";
@import "vars";
@import "states";
@import "base";

/*==================================================================================
  ATOMIC DESIGN/
==================================================================================*/

/*=====  Atoms  ======*/
// @import "./atoms/_alerts";
// @import "./atoms/_badges";
@import "./atoms/_buttons";

// @import "./atoms/_dividers";
@import "./atoms/_headings";

// @import "./atoms/_images";
// @import "./atoms/_inputs";
// @import "./atoms/_labels";
// @import "./atoms/_links";
// @import "./atoms/_lists";

/*=====  Molecules  ======*/
// @import "./molecules/_breadcrumbs";
// @import "./molecules/_cards";
// @import "./molecules/_carousels";
// @import "./molecules/_collapse";
// @import "./molecules/_contact-form";
// @import "./molecules/_gallery";
// @import "./molecules/_modal";
// @import "./molecules/_navigation";
// @import "./molecules/_pagination";
// @import "./molecules/_pop-over";
// @import "./molecules/_search-form";
// @import "./molecules/_slider";
// @import "./molecules/_table";

/*=====  Organisms  ======*/

// @import "./organisms/_footer";
// @import "./organisms/_header";
// @import "./organisms/_hero";
// @import "./organisms/sections";

/*=====  Templates  ======*/
// @import "./templates/_blog";
// @import "./templates/_page";
// @import "./templates/_post";
// @import "./templates/_subsite";
@import "./templates/_product";

:root {
    --blue: #1956a8;
    --orange: $color-secondary;
}

html {
    font-size: 16px;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-2.99%, #e8effb), color-stop(49.58%, #ffffff));
    background: linear-gradient(180deg, #e8effb -2.99%, #ffffff 49.58%);
    color: $color-primary;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: var(--blue);
    text-decoration: none;
}

*:focus-visible {
    outline: none;
}

input:focus,
button:focus,
a:focus,
textarea:focus {
    outline: 0;
}

hr.custom {
    opacity: 1;
    margin: 50px auto;
    border-color: #1956a8;
    max-width: 85%;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

@media only screen and (max-width: 991px) {
    .mb-100 {
        margin-bottom: 50px !important;
    }
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

@media only screen and (max-width: 991px) {
    .mt-100 {
        margin-top: 50px !important;
    }
}

.mh-auto {
    min-height: auto !important;
}

.mh-100 {
    min-height: 100% !important;
}

.g-text {
    background: linear-gradient(278.49deg, #1956a8 0%, #171c60 88.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.title {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0.5rem;
    -webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    border-radius: 100px;
    background: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;

    @include breakpoint(laptop) {
        justify-content: center;
        border-radius: 16px 100px 100px 16px;
        padding: 10px 30px;

        //font-size: 2.85rem;
    }

    @include breakpoint(tablet) {
        //font-size: 2.5rem;
        padding: 10px 40px 10px 25px;
    }
}

.text__orange {
    color: $color-secondary;
}

.text__blue {
    color: #1956a8;
}

.text__dark {
    color: #171c60;
}

.header__area {
    -webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    background: #fff;
    padding: 0;
}

.menu-item {
    cursor: pointer;
}

.header__area .navbar-brand {
    height: 4rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.header__area .nav-link {
    margin: 0 30px;
    isolation: isolate;
    color: var(--blue);
    font-size: 0.85rem;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.header__area .nav-link:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    border-radius: 7px;
    background: #ffffff;
    color: var(--orange);
}

.header__area .dropdown-item {
    color: var(--blue);
    font-family: "Raleway", sans-serif;
    &:hover,
    &.active {
        cursor: pointer;
        background-color: #fff;
        color: $color-secondary;
    }
}

.header__area .dropdown-toggle::after {
    vertical-align: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin-left: 10px;
    border: 0;
    background: url(../images/arrow-down.svg) no-repeat scroll 0 0 / 100%;
    width: 10px;
    height: 6px;
}

.header__area .dropdown-toggle:hover::after {
    background-image: url(../images/arrow-down-orange.svg);
}
.header__area .dropdown-toggle.show {
    -webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    border-radius: 7px;
    background: #ffffff;
    color: var(--orange);
}

.header__area .dropdown-toggle.show::after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-image: url(../images/arrow-down-orange.svg);
}

.header__area .dropdown-menu {
    top: 54px;
    -webkit-transform: translate(-25%, 13px);
    transform: translate(-29.5%, 13px);
    -webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    border: 0;
    border-radius: 16px;
    background: #ffffff;
    padding: 1.25rem;
}

@media only screen and (max-width: 991px) {
    .header__area .dropdown-menu {
        position: relative;
        -webkit-transform: none;
        transform: none;
        margin: 0;
        -webkit-box-shadow: 0 0 0;
        box-shadow: 0 0 0;
        background: transparent;
        padding: 10px 26px;
        min-width: auto;
    }
}

.header__area .dropdown-menu::before {
    position: absolute;
    top: -12px;
    // center
    left: 50%;
    transform: translate(-50%, 0);
    border-right: 9px solid transparent;
    border-bottom: 13px solid #fff;
    border-left: 9px solid transparent;
    width: 13px;
    height: 9px;
    content: "";
}

@media only screen and (max-width: 991px) {
    .header__area .dropdown-menu::before {
        display: none;
    }
}

.header__area .dropdown-menu__item {
    height: 100%;
}

.header__area .dropdown-menu__item h2 {
    background: linear-gradient(278.49deg, #1956a8 0%, #171c60 88.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 10px;
    background-clip: text;
    font-size: 0.85rem;
    text-transform: uppercase;
}

.header__area .dropdown-menu__item ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__area .dropdown-menu__item ul li a {
    display: inline-block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin: 12px 0;
    color: var(--blue);
    font-size: 0.85rem;
    font-family: "Raleway";
    letter-spacing: 0.5px;
    text-decoration: none;
}

.header__area .dropdown-menu__item ul li a:hover {
    color: var(--orange);
}

.header__area .dropdown-menu [class*="col-"] .dropdown-menu__item {
    border-right: 1px solid #d3d6da;
}

@media only screen and (max-width: 991px) {
    .header__area .dropdown-menu [class*="col-"] .dropdown-menu__item {
        border-right: 0;
        border-bottom: 1px solid #d3d6da;
        padding: 10px 0;
    }
}

.header__area .dropdown-menu [class*="col-"]:last-child .dropdown-menu__item {
    border-right: 0;
}

.header__area .navbar-toggler {
    border-color: var(--orange);
}

.header__area .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 136, 51, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media only screen and (max-width: 991px) {
    .header__area .navbar-collapse {
        position: absolute;
        top: 64px;
        right: 0;
        left: 0;
        -webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
        box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
        background: #fff;
    }
}

.header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--orange);
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-box-align: center;
    -ms-flex-align: center;
    position: relative;
    align-items: center;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    width: 181px;

    @include responsive-font-size(13, 16, 700);
}

@media only screen and (max-width: 991px) {
    .header__link {
        margin-right: 15px;
        margin-left: auto;
    }
}

@media only screen and (max-width: 767px) {
    .header__link {
        width: 46px;
    }
}

.header__link img {
    position: absolute;
    right: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 46px;
}

.header__link span {
    padding: 10px 15px;
}

@media only screen and (max-width: 767px) {
    .header__link span {
        display: none;
    }
}

.header__link .eye-hover {
    opacity: 0;
}

.header__link:hover {
    color: var(--orange);
}

.header__link:hover span {
    -webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    border-radius: 100px 0px 0px 100px;
    background: #ffffff;
}

.header__link:hover .eye-hover {
    opacity: 1;
}

.header__link:hover .eye {
    opacity: 0;
}

.footer__rs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--Spacing-32, 2rem);
    margin: 0 auto;
    padding: 0.625rem;
    list-style: none;

    .footer__rs__item {
        margin: 0;
        padding: 0;
        font-size: 2rem;

        a {
            color: $color-primary;

            &:hover {
                color: $color-primary-darker;
            }
        }
    }
}

.footer__area {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px 16px 0px 0px;
    background: linear-gradient(278.49deg, #1956a8 0%, #171c60 88.22%);
    padding: 0.625rem 1.875rem var(--Spacing-0, 0rem) 1.875rem;
    color: #a3bbdc;

    ul {
        display: flex;
        gap: 0.625rem;
    }

    ul,
    li {
        margin-bottom: 0;
        padding: 0;
        list-style: none;

        a {
            color: #fff;
            font-style: normal;
            font-weight: 700;
            font-size: 0.875rem;
            line-height: 1.625rem; /* 185.714% */
            font-family: Raleway;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    &__logo {
        width: 3rem;
    }

    &__bottom {
        margin-top: 15px;
        border-top: 1px solid #5e89c2;
        padding: 15px 0;
        color: #5e89c2;

        p {
            margin-bottom: 0;
        }

        img {
            opacity: 0.3;
            transition-duration: 0.5s;
            width: 100px;

            &:hover {
                opacity: 1;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .footer__area {
        text-align: center;
    }
}

.section__area {
    position: relative;
    z-index: 2;
    padding: 50px 0;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .section__area {
        padding: 20px 0;
    }
}

.home .section__area::after {
    // background: url(../images/line.svg) no-repeat scroll 0 0 / 100% 100%;
    position: absolute;
    top: 10%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
}

@media only screen and (max-width: 991px) {
    .home .section__area::after {
        display: none;
    }
}

.section__area .container {
    position: relative;
    z-index: 3;
}

.promotion__area.service {
    background:
        -webkit-gradient(linear, left bottom, left top, from(rgba(23, 28, 96, 0.5)), to(rgba(23, 28, 96, 0.5))),
        url(../images/bg-4.jpg) no-repeat scroll center (center / cover);
    background:
        linear-gradient(0deg, rgba(23, 28, 96, 0.5), rgba(23, 28, 96, 0.5)),
        url(../images/bg-4.jpg) no-repeat scroll center (center / cover);
}

@media only screen and (max-width: 1200px) {
    .promotion__area.service {
        margin-bottom: 350px;
    }
}

@media only screen and (max-width: 991px) {
    .promotion__area.service {
        margin-top: 200px;
    }
}

@media only screen and (max-width: 767px) {
    .promotion__area.service {
        margin-top: 130px;
    }
}

.promotion__area.service .promotion {
    min-height: 312px;
}

.promotion__area.service .promotion__head h3::before {
    display: none;
}

@media only screen and (max-width: 767px) {
    .promotion__area.service .promotion__head h3 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .promotion__area.service .promotion__head h2 {
        letter-spacing: 0;

        @include responsive-font-size(25, 30);
    }
}

.promotion__area.service .promotion__bottom {
    bottom: -315px;
    max-width: 474px;
}

@media only screen and (max-width: 767px) {
    .promotion__area.service .promotion__bottom {
        right: 10px;
        bottom: -315px;
        left: 10px;
        padding: 30px 20px 10px;
        max-width: none;
    }
}

.community__info {
    margin-left: auto;
    border-radius: 16px;
    background: #1956a8;
    padding: 36px 40px;
    max-width: 575px;
    color: #fff;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 64px;
        background-color: #fff;
        width: 64px;
        height: 64px;

        i {
            @include responsive-font-size(24);
        }
    }
}

@media only screen and (max-width: 991px) {
    .community__info {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .community__info {
        padding: 20px;
    }
}

.community__info h2 {
    margin: 0 0 20px;
    color: #f6f7f9;
    text-transform: uppercase;

    @include responsive-font-size(40, 48, 800);
}

@media only screen and (max-width: 767px) {
    .community__info h2 {
        @include responsive-font-size(30, 40);
    }
}

.community__info p {
    text-transform: uppercase;

    @include responsive-font-size(18, 28, 700);
}

.community__info ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.community__info ul li a {
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.community__info ul li a:hover {
    opacity: 0.6;
}

.community__form {
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    border-radius: 16px;
    background: #fff3eb;
    padding: 36px 40px;
}

@media only screen and (max-width: 767px) {
    .community__form {
        padding: 20px;
    }
}

.community__form h2 {
    margin: 0 0 10px;
    color: $color-secondary;
    text-transform: uppercase;

    @include responsive-font-size(24, 30, 700);
}

@media only screen and (max-width: 767px) {
    .community__form h2 {
        @include responsive-font-size(20);
    }
}

.form-control {
    border-radius: 0;
}

::placeholder {
    font-weight: normal;
}

.community__form input:not([type="submit"]),
.community__form textarea {
    margin: 10px 0 0;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #384050;
    background: transparent;
    padding: 3px 0;
    width: 100%;
    color: #384050;
    font-family: "Raleway", sans-serif;

    @include responsive-font-size(16, 19, 500);
}

.community__form textarea {
    height: 120px;
    resize: none;
}

.community__form p.note {
    margin: 10px 0 0;
    color: #384050;
    font-family: "Raleway", sans-serif;

    @include responsive-font-size(12, 14, 400);
}

.page__area {
    padding: 30px 0;
}

// .page__text {
//     font-family: "Raleway", sans-serif;
// }

// .page__text h1,
// .page__text h2,
// .page__text h3,
// .page__text h4,
// .page__text h5,
// .page__text h6 {
//     margin-bottom: 30px;
//     font-weight: 700;
//     font-family: "Rubik", sans-serif;
//     text-transform: uppercase;
// }

// .page__text h2 {
//     margin-bottom: 40px;
//     color: #152235;
//     font-family: "Rubik", sans-serif;
//     text-transform: uppercase;

//     @include responsive-font-size(40, 48, 800);
// }

// @media only screen and (max-width: 767px) {
//     .page__text h2 {
//         @include responsive-font-size(26, 30);
//     }
// }

// .page__text p {
//     color: #152235;
//     //margin-bottom: 25px;

//     //@include responsive-font-size(16, 26, 500);
// }

// .page__text p strong {
//     font-weight: 700;
// }

.page__header {
    border-radius: var(--Radius-20, 1.25rem);
    padding: 2.5rem;
    height: 19.5rem;
    @media only screen and (max-width: 767px) {
        padding: 1.5rem;
        height: 8rem;
    }
}

.page__header__title {
    margin-left: auto;
    -webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    border-radius: 100px 16px 16px 100px;
    background: #ffffff;
    padding: 10px 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-transform: uppercase;

    @include responsive-font-size(40, 48, 800);
    @media only screen and (max-width: 767px) {
        @include responsive-font-size(18, 28);
        padding: 10px 15px;
    }
}

.page__header__area {
    &--noBg {
        .page__header__title {
            margin: auto;
            border-radius: 100px;
            width: fit-content;
            text-align: center;
        }
    }
}

.page__header__area.contact {
    .page__header {
        background:
            -webkit-gradient(linear, left bottom, left top, from(rgba(255, 136, 51, 0.5)), to(rgba(255, 136, 51, 0.5))),
            url(../images/contact.jpg) no-repeat scroll center (center / cover);
        background:
            linear-gradient(0deg, rgba(255, 136, 51, 0.5), rgba(255, 136, 51, 0.5)),
            url(../images/contact.jpg) no-repeat scroll center (center / cover);
    }
}

.page__hero {
    display: block;

    //justify-content: center;
    gap: 24px;

    @include breakpoint(tablet) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    }

    @include breakpoint(mobile) {
        .title {
            font-size: 1.3rem;
            text-align: center;
        }
    }

    .title {
        margin-bottom: 0;
    }

    &__area {
        margin-bottom: 30px;
    }

    &__image {
        margin: 0 auto 30px;
        width: 150px;

        @include breakpoint(laptop) {
            margin: 0;
            width: 170px;
        }
    }
}

.page__hero__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
    .page__hero__text {
        align-items: center;
        padding-right: 0;
    }
}

.page__hero__text__title {
    margin-bottom: 20px;
    box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    -webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    border-radius: 100px 16px 16px 100px;
    background: #ffffff;
    padding: 10px 40px;
    width: fit-content;

    @include responsive-font-size(60, 72, 800);
}

@media only screen and (max-width: 991px) {
    .page__hero__text__title {
        @include responsive-font-size(30, 40);
    }
}

.page__hero__text__subtitle {
    margin-top: 1rem;
    font-size: 1.3rem;

    @include breakpoint(mobile) {
        font-size: 1.1rem;
        text-align: center;
    }

    .small {
        color: #1956a8;

        @include responsive-font-size(24);
    }
}

.page__hero__text h6 {
    color: #1956a8;

    @include responsive-font-size(24, 30, 700);
}

.block__service.right {
    flex-direction: row-reverse;
}

.blog__featured {
    position: relative;
    margin-bottom: 50px;
    border-radius: 16px;
    height: 500px;
    overflow: hidden;
    color: #ffffff;
}

.blog__featured::after {
    position: absolute;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 34, 53, 0)), to(#152235));
    background: linear-gradient(180deg, rgba(21, 34, 53, 0) 0%, #152235 100%);
    width: 100%;
    height: 50%;
    content: "";
}

.blog__featured .blog__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.blog__featured__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 30px;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.blog__featured__text h4 {
    font-family: "Raleway", sans-serif;

    @include responsive-font-size(16, 26, 600);
}

.blog__featured__text h2,
.blog__featured__text h1 {
    margin-bottom: 25px;
    text-transform: uppercase;

    @include responsive-font-size(40, 48, 800);
}

@media only screen and (max-width: 767px) {
    .blog__featured__text h2,
    .blog__featured__text h1 {
        @include responsive-font-size(25, 30);
    }
}

.blog__featured__text p {
    max-width: 500px;
    font-family: "Raleway", sans-serif;

    @include responsive-font-size(16, 26, 500);
}

.blog__featured__text a {
    color: #fff;
}

.blog__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    border-radius: 64px;
    background: #f6f7f9;
    width: 64px;
    height: 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    top: 30px;
    right: 30px;
    align-items: center;
    z-index: 3;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    padding: 5px;
}

.blog__link:hover {
    opacity: 0.5;
}

.blog__link img {
    width: 30px;
}

.blog__box {
    margin: 0 0 20px;
    border-radius: 16px;
    background: #1956a8;
    padding: 36px 40px;
    color: #f6f7f9;
}

.professionnel .blog__box {
    background: #171c60;
}

@media only screen and (max-width: 991px) {
    .blog__box {
        padding: 15px 25px;
    }
}

.blog__box.dark {
    background: #171c60;
}

.blog__box.orange {
    background: $color-secondary;
}

.blog__box h2 {
    margin: 0 0 25px;
    color: #f6f7f9;
    text-transform: uppercase;

    @include responsive-font-size(38, 48, 600);
}

@media only screen and (max-width: 1200px) {
    .blog__box h2 {
        margin: 0 0 10px;

        @include responsive-font-size(25, 35, 600);
    }
}

.blog__box p {
    margin: 0;
    color: #f6f7f9;
    text-transform: uppercase;

    @include responsive-font-size(22, 36, 700);
}

@media only screen and (max-width: 1200px) {
    .blog__box p {
        @include responsive-font-size(16, 28);
    }
}

.blog__left .btn__orange {
    display: block;
    margin-left: auto;
    border-radius: 5px;
    padding: 8px 12px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.blog__item {
    margin-bottom: 50px;
}

.blog__item__image {
    position: relative;
    border-radius: 16px;
    width: 100%;
    height: 275px;
    overflow: hidden;
}

@media only screen and (max-width: 1200px) {
    .blog__item__image {
        height: 205px;
    }
}

.blog__item__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.blog__item__image .blog__link {
    top: 10px;
    right: 11px;
    width: 32px;
    height: 32px;
}

.blog__item__image .blog__link img {
    width: 15px;
    object-fit: contain;
}

.blog__item__text {
    margin-top: 15px;
}

.blog__item__text h5 {
    margin: 0 0 5px;
    font-size: 0.875rem;
}

.blog__item__text h2 {
    color: #152235;
    font-style: normal;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.blog__item__text h2 a {
    color: #152235;
}

.blog__list .owl-stage {
    padding-left: 0px !important;
}

.article__text {
    color: #152235;
    font-family: "Raleway";

    @include responsive-font-size(16, 26, 500);
}

.article__text iframe {
    margin: 0 0 20px;
    width: 100%;
}

.article__text h3 {
    margin: 0 0 20px;
    font-family: "Rubik";
    text-transform: uppercase;

    @include responsive-font-size(24, 30, 700);
}

.article__text h4 {
    font-family: "Rubik";
    text-transform: uppercase;

    @include responsive-font-size(16, 24, 700);
}

.article__text p {
    margin: 0 0 20px;
}

.article__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
}

.article__image {
    border-radius: 16px;
    width: 104px;
    height: 104px;
    overflow: hidden;
}

.article__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.article__body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 15px;
}

.article__body h6 {
    margin: 0;
    font-family: "Raleway";

    @include responsive-font-size(14, 26, 700);
}

.article__body h2 {
    color: #152235;
    text-transform: uppercase;

    @include responsive-font-size(16, 24, 700);

    a {
        padding: 0;
    }
}

.article__body a {
    padding: 0;
    color: #152235;
}

.article__box {
    border-radius: 16px;
    background: #1956a8;
    padding: 36px 40px;
    color: #f6f7f9;
}

.wp-block-latest-posts__post-category {
    display: inline;
}

.wp-block-latest-posts__post-category::before {
    content: "Category: ";
}

.wp-block-latest-posts__post-category a {
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    .article__box {
        padding: 20px 25px;
    }
}

.article__box img {
    width: 64px;
}

.article__box h2 {
    margin: 30px 0;
    text-transform: uppercase;

    @include responsive-font-size(24, 30, 700);
}

.article__box p {
    @include responsive-font-size(16, 40, 700);
}

.article__box .btn {
    margin-top: 20px;
}

.step__image img {
    width: 100%;
}

.step__list ul {
    border: 0;
}

.step__list ul.nav-tabs {
    display: block;
}

.professionnel .step__list ul.nav-tabs li a {
    color: #171c60;
}

.step__list ul.nav-tabs li a {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    border-radius: 16px;
    background: #ffffff;
    padding: 36px 40px;
    text-transform: uppercase;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    @include responsive-font-size(24, 30, 700);
}

@media only screen and (max-width: 767px) {
    .step__list ul.nav-tabs li a {
        padding: 20px;

        @include responsive-font-size(16, 24);
    }
}

.step__list ul.nav-tabs li a .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    position: relative;
    justify-content: center;
    margin-right: 20px;
    overflow: hidden;

    @include responsive-font-size(24, 30, 700);
}

@media only screen and (max-width: 767px) {
    .step__list ul.nav-tabs li a .text {
        width: 40px;
        height: 40px;

        @include responsive-font-size(16, 30);
    }
}

.step__list ul.nav-tabs li a .text::before {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    z-index: 1;
    border-radius: 100%;
    background: #fff;
    content: "";
}

.step__list ul.nav-tabs li a .text::after {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(278.49deg, #1956a8 0%, #171c60 88.22%);
    width: 100%;
    height: 100%;
    content: "";
}

.step__list ul.nav-tabs li a .text span {
    position: relative;
    z-index: 2;
}

.step__list ul.nav-tabs li a .text__body {
    font-family: "Raleway";
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-transform: none;

    @include responsive-font-size(24, 35, 500);
}

.step__list ul.nav-tabs li a .text__body .head {
    display: block;
    font-weight: 700;
    font-family: "Rubik";
    text-transform: uppercase;
}

.step__list ul.nav-tabs li a:hover,
.step__list ul.nav-tabs li a.active {
    background: #1956a8;
    color: #fff;
}

.professionnel .step__list ul.nav-tabs li a:hover,
.professionnel .step__list ul.nav-tabs li a.active {
    background: #171c60;
}

.step__list ul.nav-tabs li a:hover .text::before,
.step__list ul.nav-tabs li a.active .text::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 5px solid #fff;
    background: transparent;
    content: "";
}

.step__list ul.nav-tabs li a:hover .text span,
.step__list ul.nav-tabs li a.active .text span {
    background: transparent;
    color: #fff;
    -webkit-text-fill-color: #fff;
}

.step__list ul.nav-tabs li:last-child a {
    margin-bottom: 0;
}

.step__list.service ul.nav-tabs li a {
    color: #152235;
}

@media only screen and (max-width: 767px) {
    .step__list.service ul.nav-tabs li a {
        display: block;
    }

    .step__list.service ul.nav-tabs li a .text {
        margin-bottom: 20px;
        width: 60px;
        height: 60px;
        @include responsive-font-size(25, 30);
    }
}

.step__list.service ul.nav-tabs li a:hover,
.step__list.service ul.nav-tabs li a.active {
    color: #fff;
}

.bg_PRIMARY_40 {
    background-color: var(--blue) !important;
}

.bg_secondary_40 {
    background-color: #171c60 !important;
}

.oembed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    max-width: 100%;
    height: 0;
    overflow: hidden;
}

.oembed-container iframe,
.oembed-container object,
.oembed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sidebar-pro .article__box {
    background-color: #171c60;
}

.product_meta {
    display: none;
}
