/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       idProtect_1.0.0.0
 *
 */

.btn,
.single_add_to_cart_button,
.wc-block-cart__submit-button,
.wc-block-components-totals-coupon__button {
    -ms-flex-align: center;
    -webkit-box-align: center;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 7px;
    background: #ffffff;
    padding: 10px 15px;
    color: $color-primary;
    font-weight: 700;
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;

    &.btn__primary {
        background: $color-primary;
        color: #fff;

        img {
            -webkit-filter: brightness(100);
            filter: brightness(100);
            margin-left: 8px;
        }

        &:hover,
        &:active,
        &:focus {
            background-color: $color-primary-darker;
            color: #fff;
        }
    }
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt,
body:not(.woocommerce-block-theme-has-button-styles) .wc-block-components-button:not(.is-link) {
    background-color: $color-primary;
    color: #fff;

    img {
        -webkit-filter: brightness(100);
        filter: brightness(100);
        margin-left: 8px;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: $color-primary-darker;
        color: #fff;
    }
}

.btn__outline {
    border: 1px solid $color-primary;
    border-radius: 7px;
    padding: 10px 15px;
    color: $color-primary;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    img {
        margin-left: 6px;
        width: 16px;
    }

    &:hover {
        background: $color-primary;
        color: #fff;

        img {
            -webkit-filter: brightness(10);
            filter: brightness(10);
        }
    }
}

.btn__white {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 7px;
    background: #ffffff;
    padding: 10px 15px;
    color: $color-primary;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    img {
        margin-left: 6px;
        width: 16px;
    }

    &:hover {
        background: $color-primary;
        color: #fff;

        img {
            -webkit-filter: brightness(10);
            filter: brightness(10);
        }
    }
}

.btn__orange {
    border: 2px solid $color-secondary;
    border-radius: 7px;
    padding: 13px 12px;
    color: $color-secondary;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;

    &.solid {
        background: $color-secondary;
        color: #fff;

        &:hover {
            background: $color-primary;
        }
    }

    &.blue {
        border-color: $color-primary;
        color: $color-primary;

        &:hover {
            background: $color-primary;
            color: #fff;
        }
    }

    &.dark {
        border-color: $color-primary;
        color: $color-primary;

        &:hover {
            background: $color-primary;
            color: #fff;
        }
    }

    &.white {
        border-color: #fff;
        color: #fff;

        &:hover {
            background: #fff;
            color: $color-primary;
        }
    }

    :hover {
        background: $color-secondary;
        color: #fff;
    }
}
