/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       idProtect_1.0.0.0
 *
 */

.btn, .single_add_to_cart_button, .wc-block-cart__submit-button, .wc-block-components-totals-coupon__button {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 7px;
    color: $color-primary;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;

    &.btn__primary {
        background: $color-primary;
        color: #fff;

        img {
            -webkit-filter: brightness(100);
            filter: brightness(100);
            margin-left: 8px;
        }

        &:hover, &:active, &:focus {
            color: #fff;
            background-color: $color-primary-darker;
        }
    }
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt,
body:not(.woocommerce-block-theme-has-button-styles) .wc-block-components-button:not(.is-link) {
    background-color: $color-primary;
    color: #fff;

    img {
        -webkit-filter: brightness(100);
        filter: brightness(100);
        margin-left: 8px;
    }

    &:hover, &:active, &:focus {
        color: #fff;
        background-color: $color-primary-darker;
    }
}

.btn__white {
    background: #FFFFFF;
    border-radius: 7px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: $color-primary;
    padding: 10px 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn__white:hover {
    background: $color-primary;
}

.btn__white:hover img {
    -webkit-filter: brightness(10);
    filter: brightness(10);
}

.btn__white img {
    margin-left: 6px;
    width: 16px;
}

.btn__orange {
    border: 2px solid $color-secondary;
    border-radius: 7px;
    padding: 13px 12px;
    color: $color-secondary;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
}

.btn__orange:hover {
    color: #fff;
    background: $color-secondary;
}

.btn__orange.solid {
    background: $color-secondary;
    color: #fff;
}

.btn__orange.solid:hover {
    background: $color-primary;
}

.btn__orange.blue {
    border-color: $color-primary;
    color: $color-primary;
}

.btn__orange.blue:hover {
    background: $color-primary;
    color: #fff;
}

.btn__orange.dark {
    border-color: #171C60;
    color: #171C60;
}

.btn__orange.dark:hover {
    background: #171C60;
    color: #fff;
}

.btn__orange.white {
    border-color: #fff;
    color: #fff;
}

.btn__orange.white:hover {
    background: #fff;
    color: #171C60;
}
