/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       idProtect_1.0.0.0
 *
 */

a {
    color: $a__linkcolor;
    text-decoration: $a__textdecoration;
    transition: $transition_fast;

    &:hover {
        color: $a__hovercolor;
    }
}
