/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       idProtect_1.0.0.0
 *
 */

.menu-item {
    cursor: pointer;
}
.header__area {
    -webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
    background: #fff;
    padding: 0;
    .container {
        @include breakpoint(mobile) {
            //justify-content: center;
        }
    }
    .navbar-brand {
        height: 4rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            @include breakpoint(mobile) {
                width: 121px;
            }
        }
    }
    .nav-link {
        margin: 0 30px;
        isolation: isolate;
        color: $color-tertiary;
        font-size: 0.85rem;
        font-family: "Raleway", sans-serif;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        @include breakpoint(tablet) {
            &:hover {
                cursor: pointer;
                -webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
                box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
                border-radius: 7px;
                background: #ffffff;
                color: var(--orange);
            }
        }
    }

    .dropdown-menu {
        position: relative;
        -webkit-transform: none;
        transform: none;
        margin: 0;
        -webkit-box-shadow: 0 0 0;
        box-shadow: 0 0 0;
        border: 0;
        border-radius: 16px;
        background: transparent;
        background: #ffffff;
        padding: 10px 26px;
        min-width: auto;
        &::before {
            display: none;
            @include breakpoint(laptop) {
                position: absolute;
                top: -12px;
                left: 50%;
                transform: translate(-50%, 0);
                border-right: 9px solid transparent;
                border-bottom: 13px solid #fff;
                border-left: 9px solid transparent;
                width: 13px;
                height: 9px;
                content: "";
            }
        }

        @include breakpoint(laptop) {
            top: 54px;
            -webkit-transform: translate(-25%, 13px);
            transform: translate(-29.5%, 13px);
            -webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
            box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
            padding: 1.25rem;
        }
        &__item {
            height: 100%;
            h2 {
                background: linear-gradient(278.49deg, #1956a8 0%, #171c60 88.22%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0 0 10px;
                background-clip: text;
                font-size: 0.85rem;
                text-transform: uppercase;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }

            ul li a {
                display: inline-block;
                -webkit-transition: 0.2s;
                transition: 0.2s;
                margin: 12px 0;
                color: $color-tertiary;
                font-size: 0.85rem;
                font-family: "Raleway";
                letter-spacing: 0.5px;
                text-decoration: none;
                &:hover {
                    color: var(--orange);
                }
            }
        }
    }

    .dropdown-item {
        margin-bottom: 1rem;
        padding: 0;
        color: $color-tertiary;
        font-family: "Raleway", sans-serif;
        &:hover,
        &.active {
            cursor: pointer;
            background-color: #fff;
            color: $color-secondary;
        }
    }

    .dropdown-toggle {
        &:hover::after {
            background-image: url(../images/arrow-down-orange.svg);
        }
        &::after {
            vertical-align: 2px;
            -webkit-transition: 0.2s;
            transition: 0.2s;
            margin-left: 10px;
            border: 0;
            background: url(../images/arrow-down.svg) no-repeat scroll 0 0 / 100%;
            width: 10px;
            height: 6px;
        }
        &.show {
            -webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
            box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
            border-radius: 7px;
            background: #ffffff;
            color: var(--orange);
            &::after {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                background-image: url(../images/arrow-down-orange.svg);
            }
        }
    }

    .navbar-toggler {
        border-color: var(--orange);
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 136, 51, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-collapse {
        position: absolute;
        top: 64px;
        right: 0;
        left: 0;
        -webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
        box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
        background: #fff;
        @include breakpoint(laptop) {
            position: relative;
            top: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
}
