/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       idProtect_1.0.0.0
 *
 */


.heroSection {
	min-height: 38.875rem;
	align-self: stretch;
	background-image: url(../images/Pattern.png), linear-gradient(180deg, #1956A8 0%, #0D3A73 100%);
	background-position: 0 100%;
	background-repeat: no-repeat;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
	margin-top: -50px;
	padding: 1rem;

	@include breakpoint(mobile) {
		margin-top: -20px;
	}

	h1,
	h2,
	a {
		color: white;
	}

	a {
		text-decoration: underline;
	}

	&__content {
		width: 100%;
		max-width: 900px;
		margin: 0 auto;
	}

	&__card {
		width: 100%;
		max-width: 43.6875rem;
		margin: 3rem auto 0;
		border-radius: 1rem;
		border: 1px solid rgba(255, 255, 255, 0.20);
		background: rgba(255, 255, 255, 0.10);
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(2.5px);
		padding: 1.5rem 4rem;
		position: relative;

		@include breakpoint(mobile) {
			max-width: 100%;
			padding: 1.5rem;
		}

		&__icon {
			position: absolute;
			left: 1rem;
			top: 1rem;

			@include breakpoint(mobile) {
				position: relative;
				left: 0;
				right: 0;
				margin: 0 auto 2rem;

			}
		}


		h2 {
			color: var(--Neutral-White-FFFFFF, #FFF);
			text-align: center;
			font-size: 1.75rem;
			font-style: normal;
			font-weight: 500;
			line-height: 150%;
			letter-spacing: 0.175rem;
			text-transform: inherit;
		}

		.accent {
			position: relative;
			padding: 3px;
			margin: 0 0.5rem;
			text-transform: uppercase;
			font-weight: 700;

			.corner {
				content: "";
				position: absolute;
				right: -3px;
				bottom: -3px;
				width: 8px;
				height: 8px;
				background-image: url(../images/Corner.png);
				background-size: contain;
				background-repeat: no-repeat;


				&:nth-child(1) {
					left: -3px;
					top: -3px;

				}

				&:nth-child(2) {
					right: -3px;
					top: -3px;
					transform: rotate(90deg);
				}

				&:nth-child(3) {
					left: -3px;
					bottom: -3px;
					transform: rotate(-90deg);

				}

				&:nth-child(4) {
					right: -3px;
					bottom: -3px;
					transform: rotate(180deg);
				}
			}
		}

		&__form {
			display: flex;
			width: 100%;
			height: 3.5rem;
			padding: 0.25rem 0.375rem 0.25rem 1.5rem;
			justify-content: space-between;
			align-items: center;
			border-radius: 6.25rem;
			background: #FFF;
			margin-bottom: 1rem;

			@include breakpoint(mobile) {
				flex-direction: column;
				gap: 1.5rem;
				background: none;
				height: inherit;
			}

			input {
				border: none;
				outline: none;
				flex: 1;

				@include breakpoint(mobile) {
					width: 100%;
					border-radius: 0.375rem;
					border: 1px solid #D1D5DC;
					background: #FFF;
					padding: 1rem;

				}

			}

			::placeholder {
				color: var(--color-azure-56, #5E89C2);
				font-size: 0.875rem;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				letter-spacing: -0.00938rem;
				text-transform: uppercase;
			}

			.btn {
				display: flex;
				align-items: center;
				gap: 0.375rem;
				border-radius: 838860rem;
				background: var(--color-red-66, #FF7551);
				box-shadow: 0 8px 12px -2.4px rgba(0, 0, 0, 0.10), 0 3.2px 4.8px -3.2px rgba(0, 0, 0, 0.10);

				i {
					font-size: 1rem;
				}

				@include breakpoint(mobile) {
					width: 100%;
					justify-content: space-between;
				}
			}

		}
	}
}
