.promotion__area {

	position: relative;
}

.promotion__bg {
	position: absolute;
	z-index: 3;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 321px;
	width: 100vw;
	display: block;
	z-index: -1;
	left: 0;
	top: 0;
}

.promotion__bg:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(255, 136, 51, 0.33), rgba(255, 136, 51, 0.33));
}

.professionnel .promotion__bg:after {
	background: linear-gradient(0deg, rgba(23, 28, 96, 0.5), rgba(23, 28, 96, 0.5));
}

@media only screen and (max-width: 767px) {
	.promotion {
		min-height: 300px;
	}
}

@media only screen and (max-width: 991px) {
	.promotion__area {
		margin: 110px 0 180px;
	}
}

.promotion__area .container {
	position: relative;
}

.promotion__head {
	text-align: right;
	display: inline-block;
	transform: translate(150%, -50px);
}

@media only screen and (max-width: 767px) {
	.promotion__head {
		transform: translate(0, -50px);
		text-align: center;
		margin: 0 auto;
		display: block;
	}
}

.promotion__head h3 {
	-webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
	box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
	border-radius: 100px 0px 0px 100px;
	background: #FFFFFF;
	padding: 10px 30px;
	font-weight: 800;
	font-size: 2.5rem;
	line-height: 3rem;
	position: relative;
	text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
	.promotion__head h3 {
		font-size: 1.3rem;
		line-height: 2.375rem;
		display: block;
		border-radius: 100px;
	}
}

.promotion__head h2 {
	-webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
	box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
	border-radius: 100px 0px 0px 100px;
	background: #FFFFFF;
	padding: 10px 30px;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 3.75rem;
	line-height: 4.5rem;
}

@media only screen and (max-width: 767px) {
	.promotion__head h2 {
		font-size: 1.5rem;
		line-height: 3.125rem;
		border-radius: 100px;
	}
}

.promotion__bottom {
	-webkit-box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
	box-shadow: 0px 16px 32px rgba(25, 86, 168, 0.1);
	border-radius: 16px;
	background: #FFFFFF;
	padding: 36px 40px;
	max-width: 400px;
	bottom: -165px;
}

.promotion__bottom h2 {
	color: #0f3465;
	font-weight: 700;
	font-size: 1.375rem;
	line-height: 1.875rem;
	text-transform: uppercase;
	margin: 0 0 30px;
}

.promotion__bottom p {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.625rem;
	color: #152235;
	margin-bottom: 30px;
}

.promotion__bottom .btn__white {
	color: var(--blue);
}

.promotion__bottom .btn__white:hover {
	color: #fff;
}
