.block__steps {
	margin-bottom: 7.5rem;
}

.block__steps__title {
	text-transform: uppercase;
	margin-bottom: 1.5rem;
}

.step__list .items .item {
	display: flex;
	padding: 1.5rem 2.5rem;
	align-items: center;
	gap: 2.5rem;
	margin-bottom: 2rem;
	border-radius: 0.75rem;
	background: var(--Gradient-BG, linear-gradient(180deg, #ECF1FA -5.47%, #FFF 100%));
	box-shadow: 0px 16px 32px 0px rgba(25, 86, 168, 0.10);
	h4 {
		margin-bottom: .5rem;
	}
}

.item__number {
	display: block;
	width: 2.5rem;
	height: 4.3rem;
	background-image: url('./img/2.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.step__list .items .item:first-child .item__number {
	background-image: url('./img/1.png');
}

.step__list .items .item:last-child .item__number {
	background-image: url('./img/3.png');
}

@media screen and (max-width: 768px) {
	.block__steps {
		margin-bottom: 3.75rem;
	}

	.block__steps__title {
		text-align: center;
	}

	.block__steps .btn {
		display: table;
		margin: 0 auto;
	}

}
