.block__steps__title {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.step__list .items .item {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 16px 32px 0px rgba(25, 86, 168, 0.1);
    border-radius: 0.75rem;
    background: var(--Gradient-BG, linear-gradient(180deg, #ecf1fa -5.47%, #fff 100%));
    padding: 1.5rem 2.5rem;
    @media screen and (max-width: 768px) {
        padding: 1.5rem;
    }
    h4 {
        margin-bottom: 0.5rem;
    }
}

.item__number {
    color: #1956a8;
    font-weight: 700;
    font-size: 4rem;
    font-family: "Rubik", sans-serif;
}

@media screen and (max-width: 768px) {
    .block__steps {
        margin-bottom: 3.75rem;
    }

    .block__steps__title {
        text-align: center;
    }

    .block__steps .btn {
        display: table;
        margin: 0 auto;
    }
}
